# PROTOCOLO TE LO VENDO CUBA: PURGA TOTAL
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

# FORZAR EJECUCIÓN DE APP.PHP (BYPASS DE CACHÉ)
DirectoryIndex app.php index.php

